In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('house_prices.csv')
df.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

In [4]:
df[['A', 'B', 'C']] = pd.get_dummies(df['neighborhood'])
df

,house_id,neighborhood,area,bedrooms,bathrooms,style,price,A,B,C
0,1112,B,1188,3,2,ranch,598291,0,1,0
1,491,B,3512,5,3,victorian,1744259,0,1,0
2,5952,B,1134,3,2,ranch,571669,0,1,0
3,3525,A,1940,4,2,ranch,493675,1,0,0
4,5108,B,2208,6,4,victorian,1101539,0,1,0
...,...,...,...,...,...,...,...,...,...,...
6023,4373,B,757,0,0,lodge,385420,0,1,0
6024,4422,C,3540,5,3,victorian,890627,0,0,1
6025,5894,B,1518,2,1,lodge,760829,0,1,0
6026,5591,C,2270,4,2,ranch,575515,0,0,1
6027,6211,C,3355,5,3,victorian,844747,0,0,1

In [6]:
df[['lodge', 'ranch', 'victorian']] = pd.get_dummies(df['style'])

In [7]:
df

,house_id,neighborhood,area,bedrooms,bathrooms,style,price,A,B,C,lodge,ranch,victorian
0,1112,B,1188,3,2,ranch,598291,0,1,0,0,1,0
1,491,B,3512,5,3,victorian,1744259,0,1,0,0,0,1
2,5952,B,1134,3,2,ranch,571669,0,1,0,0,1,0
3,3525,A,1940,4,2,ranch,493675,1,0,0,0,1,0
4,5108,B,2208,6,4,victorian,1101539,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,4373,B,757,0,0,lodge,385420,0,1,0,1,0,0
6024,4422,C,3540,5,3,victorian,890627,0,0,1,0,0,1
6025,5894,B,1518,2,1,lodge,760829,0,1,0,1,0,0
6026,5591,C,2270,4,2,ranch,575515,0,0,1,0,1,0
6027,6211,C,3355,5,3,victorian,844747,0,0,1,0,0,1

In [8]:
df['intercept'] = 1

In [9]:
lm = sm.OLS(df['price'], df[['intercept', 'lodge', 'ranch']])
res = lm.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.339
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     1548.
Date:                Sun, 26 Apr 2020   Prob (F-statistic):               0.00
Time:                        18:00:06   Log-Likelihood:                -86683.
No. Observations:                6028   AIC:                         1.734e+05
Df Residuals:                    6025   BIC:                         1.734e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.046e+06   7775.607    134.534      0.000    1.03e+06    1.06e+06
lodge      -7.411e+05   1.44e+04    -51.396      0.000   -7.69e+05   -7.13e+05
ranch       -4.71e+05   1.27e+04    -37.115      0.000   -4.96e+05   -4.46e+05
==============================================================================
Omnibus:                     1340.120   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3232.810
Skew:                           1.230   Prob(JB):                         0.00
Kurtosis:                       5.611   Cond. No.                         3.28
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
6.421e+05 + 6.695e+04 - 4.04e+05

305050.0